<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultBrowser" value="firefox" />
		<add key="EnvironmentVariableNameForBrowser" value="browser" />
		<add key="EnvironmentVariableNameForUrl" value="url" />
		<add key="DownloadsFolderName" value="Downloads" />
		<add key="ScreenshotsFolderName" value="Screenshots" />
	</appSettings>
	<!-- other settings -->
</configuration>
