<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="chrome" />
		<add key="Url" value="https://www.youtube.com" />
		<add key="DownloadsFolderName" value="Downloads" />
		<add key="ScreenshotsFolderName" value="Screenshots" />
	</appSettings>
	<!-- other settings -->
</configuration>
