<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="chrome" />
		<add key="SiteUrl" value="https://www.youtube.com" />
		<add key="APIUrl" value="" />
		<add key="DownloadsFolderName" value="Downloads" />
		<add key="ScreenshotsFolderName" value="Screenshots" />
		<add key="ImplicitTimeout" value="5" />
		<add key="PageLoadingTimeout" value="30" />
		<add key="FindWebElementTimeout" value="10" />
		<add key="AlertLoadingTimeout" value="10" />
	</appSettings>
	<!-- other settings -->
</configuration>
